[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyinstaller = {git = "https://github.com/pyinstaller/pyinstaller.git", ref = "develop"}

[packages]
beautifulsoup4 = ">=4.7.0"
pathvalidate = "*"
pycaption = {git = "https://github.com/pycaption-neo/pycaption.git"}
pycountry = "*"
pymp4 = "*"
requests = "*"
xmltodict = "*"

[requires]
python_version = "3.7"
